torch>=1.13.1
torchaudio>=0.13.1
librosa>=0.9.0
matplotlib>=3.7.0
scikit-learn>=1.2.1
tqdm>=4.64.1

jupyter
soundfile
streamlit
audio-recorder-streamlit
numpy
moviepy
audiomentations>=0.28.0
# webrtcvad>=2.0.10  # Opsiyonel - C++ Build Tools gerektirir, Silero VAD yeterli
pyaudio
pyyaml
umap-learn
plotly
